<!DOCTYPE html>
<html lang="en">
{% load static %}

<link rel="stylesheet" href="{% static 'app_lesson2/css/styles.css'%}" type="text/css" id="styleSheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{% block title %}TeiRuS{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'create_client' %}">Создать клиента</a></li>
            <li><a href="{% url 'all_clients' %}">Клиенты</a></li>
            <li><a href="{% url 'create_product' %}">Создать продукт</a></li>
            <li><a href="{% url 'product_list' %}">Продукты</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
